
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Book shop">
    <meta name="keywords" content="books, seo, korsina">
    <meta name="author" content="Yehor Sapon">
    <title>{% block title %} Кнігі ў Ягора {% endblock title %}</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'js/bootstrap.min.js' %}" >


<body>
    <aside>
        <a href="/" ><img src="{% static 'img/logo.png' %}" alt="Company Logo">
        </a><br>
        <span class="logo">SB</span>
        <h3> Навігацыя</h3>
        <ul>
            <a href="/"><li><i class="fa-solid fa-house" ></i> Галоўная</li></a>
            <a href="/"><li><i class="fa-solid fa-file-lines"></i> Аб магазіне</li></a>
            <a href="/"><li><i class="fa-solid fa-address-card"></i> Кантакты</li></a>
        </ul>
    </aside>
    <main>
        <div id="header">
                {%block header%}
                <a href="/" >
                    <img src="{% static 'img/logo.png' %}" class="logo_simple" alt="Company Logo">
                </a>
                {%endblock header %}
            </div>
            <div id="subheader">
                {%block cart%}
                <div class="cart">
                Your cart is empty.
                {%endblock cart%}
                </div>
            </div>
            <div id="content">
        {% block content %}
            {% lorem 9 p random %}
        {% endblock content%}
        </div>
    </main>
    <div id="everything-footer">
        {% block everything-footer %}
        <div class="logo">
            <div id="to_top" onclick="return toTop()"><i class="fas fa-chevron-up"></i>
            </div>
            <a href="/" title="На главную страницу">
            <p>Ан-лайн кніжная крама</p>
        <div class="links">
            <div>
            <p class="headings-footer">Информация</p>
            <ul>
                <li><a href="/gift">Сертификаты</a></li>
                <li><a href="/spravka/">Справочники</a></li>
                <li><a href="/ad">Реклама</a></li>
            </ul>
            <ul class="last">
                <li><a href="/y_bookside/about">О нас</a></li>
                <li><a href="/y_bookside/contacts">Контакты</a></li>
                <li><a href="/sitemap">Карта сайта</a></li>
            </ul>
        </div>
        <div>
            <p class="headings-footer">Аккаунт</p>
            <ul>
            <li><a href="/user/">Войти</a></li>
            <li><a href="/reg">Регистрация</a></li>
            <li><a href="/kontakti">Обратная связь</a></li>
            </ul>
        </div>

        {% endblock everything-footer %}
    </div>
</body>
</html>
