{% load static %}
{% load bootstrap5 %}
<link href="{% static 'css/sticky-footer.css' %}" rel="stylesheet" type="text/css">

<style>
  .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  }
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
   }
</style>



  <div class="container">
    <span class="text-muted">@ Sapon Yehor 2022.</span>
    <span class="text-muted"><a href="{% url 'y_bookside:contacts' %}">Contacts</a></span>
    <span class="text-muted"><a href="{% url 'y_bookside:about' %}">Abouts us</a></span>
  </div>

