{% extends 'base.html' %}

{% block title %}Book view{% endblock title %}

{% block header %}Book {{ object }} view{% endblock header %}

<br>
{% block subheader %}-----------------{% endblock subheader %}
<br>
{% block content %}
<br>


<table class="table table-sm">
        <tr>
          <th class="table-light" scope="col">Book cover</th>
          <td class="table-group-divider"><img src="{{ object.picture.url }}" alt="Book cover image" width="150" ></td>
        </tr>
        <tr>
          <th class="table-light" scope="col">Book title</th>
          <td class="table-group-divider">{{ object.title }}</td>
        </tr>
        <tr>
          <th class="table-light" scope="col">Author</th>
          <td class="table-group-divider">
          {% if authors %}
                      {% for author in authors %}
                <a href="{% url 'reference:author' author.pk %}">{{ author.surname }}</a><br>
            {% endfor%}
        {% else%}
            <p>There is no such information yet</p>
        {% endif %}</td>
        </tr>
        <tr>
          <th class="table-light" scope="col">Publication house</th>
          <td class="table-group-divider"><a href="{% url 'reference:publh' publh.pk %}">{{ object.publ_hous }}</a></td>
        </tr>
        <tr>
          <th class="table-light" scope="col">Series</th>
          <td class="table-group-divider">{% for ser in series %}<a href="{% url 'reference:series' ser.pk %}">{{ ser.name }}{% endfor %}</a></td>
        </tr>
        <tr>
          <th class="table-light" scope="col">Genre</th>
          <td class="table-group-divider">{% for gen in genres %}<a href="{% url 'reference:genre' gen.pk %}">{{ gen.name }}{% endfor %}</a></td>
        </tr>
        <tr>
          <th class="table-light" scope="col">Price</th>
          <td class="table-group-divider">{{ object.price }}</td>
        </tr>
        <tr>
          <th class="table-light" scope="col">Publication year</th>
          <td class="table-group-divider">{{ object.publ_year }}</td>
        </tr>
        <tr>
          <th class="table-light" scope="col">Pages</th>
          <td class="table-group-divider">{{ object.pages }}</td>
        </tr>
        <tr>
          <th class="table-light" scope="col">Weight</th>
          <td class="table-group-divider">{{ object.weight }}</td>
        </tr>
        <tr>
          <th class="table-light" scope="col">Avaiable to order</th>
          <td class="table-group-divider">{{ object.is_available }}</td>
        </tr>
        <tr>
          <th class="table-light" scope="col">Book cover</th>
          <td class="table-group-divider">{{ object.book_cover }}</td>
        </tr>
        <tr>
          <th class="table-light" scope="col">Age restrictions of book</th>
          <td class="table-group-divider">{{ object.age_restrictions }}</td>
        </tr>
        <tr>
            <th class="table-light" scope="col">Book format</th>
            <td class="table-group-divider">{{ object.format }}</td>
        </tr>
        <tr>
          <th class="table-light" scope="col">Add book in cart </th>
          <td class="table-group-divider">
            <form action="{% url 'order:add-in-cart' %}" method="get">
              <input type="hidden" name="book_id" value="{{ object.pk }}">
              <div class="input-group ">
                <input type="submit" class="btn btn-success col" value="Add in cart">
                <input type="number" class="form-control col" name="quantity" value="1" min="0" max="20">
              </div>
            </form>
          </td>
        </tr>
      </table>

      <a href="{% url 'book:book-list' %}"><input type="button" value="Book list"></a>
{% endblock content %}
