<!DOCTYPE html>
<html lang="en">
  {% load bootstrap5 %} {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Yehor Sapon" />
    {% bootstrap_css %} {% bootstrap_javascript %} {% bootstrap_messages %}
    <link
      href="{% static 'css/sticky-footer.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link
      href="{% static 'fontawesomefree/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <title>Profile {{user.get_username}}</title>
  </head>
  <body class="bg-light">
    <main class="container-md">
      <div
        class="d-flex align-items-center p-3 my-3 text-dark bg-purple rounded shadow-sm"
      >
        <img class="me-3" src="#" alt="User foto" width="50" height="50" />
        <div class="lh-2 mx-auto">
          <h1 class="h6 mb-0 text-dark lh-1">
            <strong>Profile {{user.get_username}}</strong>
          </h1>
          <small>{{user.groups.all.0}} </small>
        </div>
        <div class="lh-2 mx-auto">
          <h1 class="h6 mb-0 text-dark lh-1">
            <strong>Registration date</strong>
          </h1>
          <small>{{user.date_joined}} </small>
        </div>
        <div class="lh-2 mx-auto">
          <h1 class="h6 mb-0 text-dark lh-1"><strong>Last login</strong></h1>
          <small> {{user.last_login}}</small>
        </div>
        <div class="lh-2 mx-auto">
          <h1 class="h6 mb-0 text-dark lh-1">
            {% if user.is_authenticated %}
            <a class="nav-link active" href="{% url 'user_app:logout'%}?next=/">
              Logout
            </a>
            {% endif %}
          </h1>
        </div>
      </div>

      <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h5 class="border-bottom pb-2 mb-0">Contact information</h5>
        <div class="d-flex text-muted pt-3">
          <svg
            class="bd-placeholder-img flex-shrink-0 me-2 rounded"
            width="32"
            height="32"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: 32x32"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <title>Name</title>
            <rect width="100%" height="100%" fill="#007bff"></rect>
            <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
          </svg>

          <p class="pb-3 mb-0 small lh-sm border-bottom">
            <strong class="d-block text-gray-dark">
              User's {{user.pk}} full name is
            </strong>
            {{ user.get_full_name }}
          </p>
        </div>
        <div class="d-flex text-muted pt-3">
          <svg
            class="bd-placeholder-img flex-shrink-0 me-2 rounded"
            width="32"
            height="32"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: 32x32"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <title>Permissions</title>
            <rect width="100%" height="100%" fill="#e83e8c"></rect>
            <text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text>
          </svg>

          <div >

            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <p class="pb-3 mb-0 small lh-sm border-bottom"><strong class="d-block text-gray-dark">
                 There are {{ user.get_all_permissions|length }} user's permissions: </strong></p>
            </button>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                {% for perm in user.get_all_permissions|dictsort:0  %}
                {{perm|linebreaks}}
                {% endfor %}
              </div>
            </div>
          </div>



        </div>
        <div class="d-flex text-muted pt-3">
         <p>

          </p>
        </div>

      </div>
    </main>
  </body>
</html>
