{% extends 'base.html' %}

{% block title %}
    {{title}}
{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
    <h1>Hello, there!</h1>
    <p>It's {{ date | date:'l, d F, Y' }} at {{ date | time:'H:i:s' }}.</p>
    <P>Аказаньне паслугаў: індывідуальны прадпрымальнік Ягор Сапон,</P>
    <p>

        Пасьведчаньне аб рэгістрацыі індывідуальнага прадпрымальніка №191683024261 ад 1 студзеня 2022 году выдадзенае Мінскім гарадзкім выканаўчым камітэтам.

        Пасьведчаньне аб рэгістрацыі ў Дзяржаўным рэестры выдаўцоў, вытворцаў і распаўсюджвальнікаў друкаваных выданьняў Рэспублікі Беларусь ў якасьці распаўсюджвальніка друкаваных выданьняў за №1/1111.

        Інтэрнэт-крама egorsapon.pathonanywhere.com зарэгістраваная ў Гандлёвыя рэестры Рэспублікі Беларусь 1 ліпеня 2022 году.
    </p>
<a href="{% url 'y_bookside:contacts' %}">Кантакты</a>



{% endblock content%}
