{% extends 'base.html' %}
{% load bootstrap5 %}

{% block header %}

{% endblock header %}


{% block content %}
{% include "base_carusel.html" %}

    <p> <span class="btn btn-danger">Hello {{user}}, there!</span></p>
    It's {% now "jS \o\f F H:i:s" %}.
    <br>

    <br>
    
    {% lorem 2 p random %}
    {% if user.is_authenticated %}
    <ul>
        <li>User: {{ user.get_username }}</li>
        <li><a href="{% url 'user_app:logout'%}?next={{request.path}}">Logout</a></li>
      {% else %}
        <li><a href="{% url 'user_app:login'%}?next={{request.path}}">Login</a></li>
      {% endif %}
     </ul>
{% endblock content %}
