{% extends 'base.html' %}
{% load bootstrap5 %}

{% block header %}

{% endblock header %}


{% block content %}
{% include "base_carusel.html" %}

    <p> <span class="btn btn-danger">Hello {{user}}, there!</span></p>
    It's {% now "jS \o\f F H:i:s" %}.
    <br>

    <br>

    
    <br>
    {% comment %} {% load currency %}
    {% get_currency as cr %}
    <table class="table table-info table-striped">
        <thead >
            <tr>
            <th>Currency exchange on </th>
            <th>{% now "jS \o\f F" %}</th>
            <th>{{cr.Cur_Name}}</th>
            <th>1 {{cr.Cur_Abbreviation}}</th>
            <th>{{cr.Cur_OfficialRate}} BYN</th>
            </tr>
        </thead>
    </table> {% endcomment %}



{% endblock content %}
