{% extends 'base.html' %}
{% load bootstrap5 %}

{% block header %}
    {% include 'base_carusel.html' %}
{% endblock header %}


{% block content %}
    <p> <span class="btn btn-danger">Hello {{user}}, there!</span></p>
    It's {{ date | date:'l, d F, Y' }} at {{ date | time:'H:i:s' }}.
    <br>
    <br>
    {% lorem 5 p random %}
    {% if user.is_authenticated %}
    <ul>
        <li>User: {{ user.get_username }}</li>
        <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
      {% else %}
        <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
      {% endif %}
     </ul>
{% endblock content %}
